.heading{
    width: 75%;
    font-size: 25px;

}
body{
    background-color: pink;
    color: white;
}
#camera{
    width: 350px;
    height: 300px;
    border: 2px solid black;

}
.name_of_objects,#result_people_name,#result_people_accuracy{
    color: blue;
    
}